
.modal{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 9999;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 10px -1px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 10px -1px rgba(66, 68, 90, 1);
    border-radius: 1%;
  }
  
.okModal{
  padding: 30px;
  min-width: 300px;
  max-width: 500px;
  line-height: 1.5;
  text-align: justify;
  font-weight: 400;
}

.okModalHeader > .title > img{
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
}

.okModalInactive{
  display: none;
}

.okModalBody{
  margin-bottom: 50px;
}


#overlay{
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0, .9);
  pointer-events: none;
  z-index: 90;
}

#overlay.active{
  opacity: 1;
  pointer-events: all;
}

.errorModalInactive{
  display: none;
}

.errorModal{
  max-width: 400px;
  min-width: 300px;
  padding: 40px;
}

.errorModalBody{
  margin: 60px 0 20px 0px;
  font-size: 18px;
  text-align: center;
}

.errorModalHeader > .title > img{
  width: 100px;
  height: 100px;
}

#errorButtonBox{
  width: 100%;
}



.modalOpen{
  overflow: hidden;
}





