@use "@material/checkbox";
@use "@material/form-field";

@include checkbox.core-styles;
@include form-field.core-styles;



#regulationsBox{
    display: flex;
    flex-direction: column ;
}

.regulationsListBox{
    margin-left: 18px;
}


.regulationsList{
    margin: 0;
    margin-bottom: 10px;
}


.regulationsList > li{
    font-size: .9rem;
    font-weight: 400;
    text-align: justify;
    line-height: 1.3;
}

.error > div{
    color: var(--errorColor);
}

#regulationsList1 > li:first-child{
    margin-bottom: 5px;
}

.checkboxesLabel{
    font-size: 1rem;
    font-weight: 600;
}

