@use "./components/selectsComponents/selects.scss";
@use "./components/dateTimeContainer/dataAndTimeContainer";
@use "./components/emailField/emailField.scss";
@use "./components/buttons/saveButton.scss";
@use "./components/modal/modalWindows.scss";
@use "./components/regulationsBox/regulationsBox.scss";
@use "./components/logoBox.scss";
@use "./components/helpersText/helpersText.scss";
@use "./components/selectSubject/subjectsContainer.scss";


:root{
    --leftBackgroundColor: #2C3F7C ;
    --rightBackgroundColor: white;
    --buttonPrimaryColor: rgb(48, 63, 159);
    --errorColor: #C20020;
    --mdc-checkbox-checked-color: var(--buttonPrimaryColor);
    --mdc-ripple-color: var(--buttonPrimaryColor);
}

html {
    height: 100%;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
body {
    background: linear-gradient(-45deg, var(--rightBackgroundColor) 50%, var(--leftBackgroundColor) 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
}

a:focus,
button:focus,
input:focus,
:focus {
  outline: none;
}

a:focus{  
  outline: solid 2px rgb(88, 88, 88);  
  border-radius: 2px;
  padding: 1px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    min-width: 400px;
    min-height: 600px;
    z-index: 2;
    margin: 20px;
    background: white;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 10px -1px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 10px -1px rgba(66, 68, 90, 1);
    border-radius: 1%;
    margin-top: 10px;
}

img{
    width: 60%;
}


#formContainer{
    margin-top: 20px;
    width: 75%;
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
  }
  select::-ms-expand {
    display: none;
  }
  select {
     outline: none;
  }

  #select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}



@media only screen and (max-width: 600px ) {
    body {
      height: auto;
    }
  }
  
@media only screen and (max-height: 900px ) {
    body {
      height: auto;
    }
  }

@media only screen and ( max-width: 450px ) {
    body {
      display: inline-block;
    }
}



.animation{
  animation-name: slideIn ;
  animation-duration: 400ms;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}


@keyframes slideIn {
  from {
    transform: translateX(-30px);
  }
  to{
    transform: translateX(0px);
  }
  
}